<script type="text/javascript">
	let endpoint = "upvote/{{ news_id }}"
	//let endpoint = "http://127.0.0.1:8000/upvote/"+voted_news+"/";
	console.log(endpoint);
	$.ajax({
		url:endpoint,
		type:"GET",
		headers: {'X-Requested-With': 'XMLHttpRequest'}
		success: function(data){
			alert("Worked");
		},
		crossDomain: false
	});

</script>

<script type="text/javascript">
	endpoint = "{% url 'downvote' 000 %}/".replace(000, news_id);
	$ajax({
		url:endpoint,
		type:'GET',
		headers: {'X-Requested-With': 'XMLHttpRequest'}
		success: function(data){
			alert("Worked");
		},
		crossDomain: false
	});
</script>