
/* wordcloud */
.tag-cloud a.size-1 { font-size: 1.1em }
.tag-cloud a.size-2 { font-size: 1.2em }
.tag-cloud a.size-3 { font-size: 1.3em }
.tag-cloud a.size-4 { font-size: 1.4em }
.tag-cloud a.size-5 { font-size: 1.5em }
.tag-cloud a.size-6 { font-size: 1.6em }
.tag-cloud a.size-7 { font-size: 1.7em }
.tag-cloud a.size-8 { font-size: 1.8em }
.tag-cloud a.size-9 { font-size: 1.9em }
.tag-cloud a.size-10 { font-size: 2.0em }
.tag-cloud a.size-rest { font-size: 2.5em }

.a-news{
  display:block;
  text-decoration:none;
  decoration:none;
  color:inherit;
}
.a-theme{
  display:block;
  text-decoration:none;
  decoration:none;
  color:inherit;
}

/* text size if screen smaller than 750px */
.article-body{
    font-family: sans-serif;
    font-size: 14px;
}

.article-footer{
    font-family: sans-serif;
    font-size: 12px
}

.article-title{
    font-size: 24px;
    font-family: bodoni
}

.page-top{
    font-size: 28px;
    font-family: bodoni;
    color:#004d63
}

.share-img-size{
    width: 20px;
    height: 20px;
}
.page-footer{
        font-family: sans-serif;
        font-size: 15px;
        margin-top:5px;
        margin-bottom:5px;
}
.div-form-width{
    width:100%
}
.div-form-pwdsdreq-width{
    width:100%
}
.div-form-pwdchng-width{
    width:100%
}
.carousel-isvisible{
    display:block;
}
.circle-isvisible{
    display:none;
}
.div-add-blog{
    width:100%
}

/* text size if screen greater than 750px */
@media screen and (min-width: 750px) {
    .article-body{
        font-family: sans-serif;
        font-size: 20px;
    }

    .article-footer{
        font-family: sans-serif;
        font-size: 15px
    }

    .article-title{
        font-size: 32px;
        font-family: bodoni
    }

    .page-top{
        font-size: 36px;
        font-family: bodoni;
        color:#004d63
    }
    .share-img-size{
        width=34px;
        height=34px;
    }

    .page-footer{
        font-family: sans-serif;
        font-size: 20px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .div-form-width{
        width:30%
    }
    .div-form-pwdsdreq-width{
        width:26%
    }
    .div-form-pwdchng-width{
        width:28%
    }
    .div-add-blog{
        width:50%
    }
    .carousel-isvisible{
        display:none;
    }
    .circle-isvisible{
        display:block;
    }
}

/* votes section if screen smaller than 750px */
.vote-up-down{
    font-size:20px;
}
.vote-count{
    font-size: 25px;
    color:#004d63;
}

.vote-count-margin{
    font-size: 25px;
    color:#004d63;
}

.vote-total{
    font-size: 12px;
}

/* votes section if screen greater than 750px */
@media screen and (min-width: 750px) {
    .vote-up-down{
        font-size:25px;
    }
    .vote-count{
        font-size: 30px;
        color:#004d63;
    }
    .vote-total{
        font-size: 15px;
        text-align:center;
    }
    .vote-count-margin{
        font-size: 25px;
        color:#004d63;
        margin-left:15px;
    }

}

/* text size if screen is between 750px and 1000px */
@media screen and (min-width: 750px) and (max-width: 1000px) {
    .article-body{
        font-family: sans-serif;
        font-size: 20px;
    }

    .article-footer{
        font-family: sans-serif;
        font-size: 15px
    }

    .article-title{
        font-size: 32px;
        font-family: bodoni
    }

    .page-top{
        font-size: 36px;
        font-family: bodoni;
        color:#004d63
    }
    .share-img-size{
        width=34px;
        height=34px;
    }

    .page-footer{
        font-family: sans-serif;
        font-size: 20px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .div-form-width{
        width:30%
    }
    .div-form-pwdsdreq-width{
        width:26%
    }
    .div-form-pwdchng-width{
        width:28%
    }
    .div-add-blog{
        width:50%
    }
    .carousel-isvisible{
        display:block;
    }
    .circle-isvisible{
        display:none;
    }
}

/* votes section if screen is between 750px and 1000px*/
@media screen and (min-width: 750px) and (max-width: 1000px) {
    .vote-up-down{
        font-size:25px;
    }
    .vote-count{
        font-size: 30px;
        color:#004d63;
    }
    .vote-total{
        font-size: 15px;
        text-align:center;
    }
    .vote-count-margin{
        font-size: 25px;
        color:#004d63;
        margin-left:15px;
    }

}

/* fit round images */
div.circle-avatar{
        /* make it responsive */
        max-width: 50%;
        width:50%;
        height:50%;
        display:block;
        /* div height to be the same as width*/
        padding-top:50%;

        /* make it a circle */
        border-radius:50%;

        /* Centering on image`s center*/
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

        /* it makes the clue thing, takes smaller dimension to fill div */
        background-size: cover;

        /* it is optional, for making this div centered in parent*/
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        }

/* outline buttons */
.outline {
background-color: transparent;
color: inherit;
transition: all .25s;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-success.outline {
    color: #5cb85c;
}
.btn-info.outline {
    color: #033442;
}
.btn-warning.outline {
    color: #f0ad4e;
}
.btn-danger.outline {
    color: #d9534f;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}

/* footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

/* navbar */
.navbar-default {
  background-color: #004d63;
  border-color: #159ac1;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #acedff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #acedff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #004d63;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #acedff;
  background-color: #159ac1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #159ac1;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #acedff;
  background-color: #159ac1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #acedff;
  background-color: #159ac1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #acedff;
  background-color: #159ac1;
}
.navbar-default .navbar-toggle {
  border-color: #159ac1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #159ac1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #acedff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #acedff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #acedff;
    background-color: #159ac1;
  }
}

