{% extends 'homepage/header.html' %}

{% block circle %}

<div class="container" style="width:100%; background-color:#efefef">
    <br><br><br>
    <div class="container marketing">
        <div class="container" style="color:#004d63">
            <center>
                <h1 class="page-top">Sorry to see you go. See you again soon.</h1>
                        <br><br>
            <div class="container">
                <a class="lead article-body" href="/" style="display:block;decoration:none;color:inherit;"><span class="glyphicon glyphicon-arrow-left"></span> Go back to the main page</a>
            </div>
            </center>
        </div>
        <div class="row">
            <br>
        </div>
    </div>
</div>

{% endblock %}
