{% extends "homepage/header.html" %}
{% block circle %}
	<div class="container" style="width:100%; background-color:#efefef">
		<br><br><br>
		<div class="container marketing">

            <center>
                <div class="container">
                    <h1 class="page-top">Send us a message</h1>
                    <div class="div-form-width">
                        <form method="post">
                            {%csrf_token%}
                            {% for error in send_form.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{error}}
                            </div>
                            {% endfor %}

                            <div class="form-group has-errors text-danger small">
                                {{ send_form.subject.errors }}
                            </div>

                            <div class="form-group">
                                {{ send_form.subject }}
                            </div>
                            <div class="form-group has-errors text-danger small">
                                {{ send_form.email.errors }}
                            </div>

                            <div class="form-group">
                                {{ send_form.email }}
                            </div>
                            <div class="form-group has-errors text-danger small">
                                {{ send_form.message.errors }}
                            </div>

                            <div class="form-group">
                                {{ send_form.message }}
                            </div>

                            <input class="btn btn-info" id="save_contact" style="width:100%" type="submit" value="Send" />
                    </form>
                    </div>
                </div> <!--centered container-->
            </center>
            <div class="row">
                <br>
            </div>
		</div> <!--container marketing-->
	</div> <!-- container -->
{% endblock %}
